[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
black = "*"
commit-linter = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.8"
